.flex {
   
    padding:20px;
    padding-left: 370px;
    margin:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px red;

}

.container{
    margin:15px;
    padding:40px;
    border: solid 2px blue;
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(248, 243, 243);

}

.image {
    width:300px;
    height: 300px;
    position:relative;
    bottom: 30px;
    border:solid 2px black;
    border-radius: 15px;
}

.filter {
    position: absolute;
    left: 30px;
    margin: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 860px;
    border: solid 2px green;
    border-radius: 10px;

}

.name {
display: flex;
justify-content: center;
position: relative;
bottom: 25px;
}

.price {
display: flex;
justify-content: end;

}

.buttonDetalle{
    display: flex;
    justify-content: center;
}