.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 60px 10%;
  background-color: #dbd9d9;

  
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 95px;
  width:auto;
  transition: all 0.3s;
  border-radius: 100%;
}
.logo img:hover {
  transform: scale(1.2);
}

.navLinks {
  list-style: none;
}

.navLinks li {

  display: inline-block;
  padding: 0 20px;
}

.navLinks li:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.navLinks li a {

  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navLinks li a:hover {
  color: rgb(66, 65, 62);
  transition: all 0.3s;
}

.btn button {
  font-weight: 700;
  color: #383838;
  margin-left: 15px;
  padding: 9px 25px;
  background: #daa520;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover {
  background-color:  #383838;
  color: #daa520;
  transform: scale(1.1);
}
